.footer_main {
  width: 100%;
  background-color: #160113;
}

.footer_logo {
  display: flex;
  align-items: center;
}

.footer_container {
  background-color: #160113;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  object-fit: contain;
}

.site_links > ul > li {
  list-style: none;
  padding: 0.3rem;
  color: #ffffff;
}

.footer_columns > h3 {
  color: orange;
}

.footer_social {
  color: orange;
}
